// -----------------------------------------------------------------------------
// This file contains all styles related to typography.
// -----------------------------------------------------------------------------

$montserrat: 'Montserrat', Helvetica, Arial, sans-serif !default;
$roboto: 'Roboto', sans-serif !default;


%montserrat-reg {
    font-family: $montserrat;
    font-weight: 400;
}
%montserrat-bold {
    font-family: $montserrat;
    font-weight: 700;
}
%roboto-light {
    font-family: $roboto;
    font-weight: 300;
}
%roboto-reg {
    font-family: $roboto;
    font-weight: 400;
}
%roboto-bold {
    font-family: $roboto;
    font-weight: 700;
}


//h1, h2, h3, h4, h5, h6 {
//    @extend %montserrat-reg;
//}