<section id="social">
    <div class="container">
        <div class="row centered">
            <div class="col-sm-6 col-md-2 col-md-offset-1">
                <a href="http://github.com/clintlosee"><i class="fa fa-github"></i></a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a href="http://facebook.com/clint.losee"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a href="http://twitter.com/ClintLosee"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a href="https://www.linkedin.com/pub/clint-losee/46/585/a20"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="col-sm-6 col-md-2">
                <a href="http://instagram.com/clintlosee"><i class="fa fa-instagram"></i></a>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section><!-- social -->