<footer id="footerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-4">
                <p><b>WEB DEVELOPER</b> & <b>DIGITAL MEDIA PROFESSSIONAL</b></p>
            </div>

            <div class="col-lg-4">
                <p>Living in American Fork, UT</p>
            </div>
            <div class="col-lg-4">
                <p>clint.losee [at] gmail.com</p>
            </div>
            <div class="col-lg-12" id="icon-credit">
                <small>Menu icons made by 
                    <a href="http://www.freepik.com" title="Freepik" rel="nofollow">Freepik</a>, 
                    <a href="http://www.flaticon.com/authors/icon-works" title="Icon Works" rel="nofollow">Icon Works</a> from 
                    <a href="http://www.flaticon.com" title="Flaticon" rel="nofollow">www.flaticon.com</a>             is licensed by 
                    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" rel="nofollow">CC BY 3.0</a>
                </small>
            </div>
        </div>
    </div>
</footer><!-- footerwrap -->

<a href="#" class="cl-top">Top</a>