<header>
    <navigation 
        [brand]="headerInfo.brand">
    </navigation>
     
    <section id="headerwrap" data-type="background" data-speed="3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3">
                    <h4>HELLO, MY NAME IS</h4>
                    <h1>{{ headerInfo.name }}</h1>
                    <h4 [innerHTML]="headerInfo.title"></h4>
                    <a href="{{ headerInfo.resumeLink }}" class="button-border resume" target="_blank">Resume</a>
                </div>
            </div><!-- row -->
        </div> <!-- container -->
    </section><!-- headerwrap -->
</header><!-- end header -->