/*
 * Author: CLINT LOSEE
 * URL: http://clintlosee.github.io
 *
 * Project Name: Portfolio
 * Version: 1.0
 * Date: 03-1-2015
 * URL:
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);


::-moz-selection {
    background: #1b45fa; /* #f2c2c9;*/
    color:#efefef; /* #a4003a;*/
    text-shadow: none;
}

::selection {
    background: #1b45fa; /* #f2c2c9;*/
    color: #efefef; /* #a4003a;*/
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}

.navbar-brand {
	font-weight: 700;
    font-size:1.3em;
}
.navbar-brand span {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}

.navbar-default .navbar-brand {
	color: #ff6600; /*#1abc9c;*/
    transition: color 0.2s ease-out,
              color 0.2s ease-out;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ff6600; /*#1abc9c;*/
	background-color: transparent;
	border-bottom: 2px solid #ff6600; /*#1abc9c*/
    transition: color 0.2s ease-in,
              color 0.2s ease-in;
}

.navbar-default a:hover {
    color:#FFFFFF !important;
    transition: color 0.2s ease-in,
              color 0.2s ease-in;
}

.navbar-default .navbar-nav > li > a {
	color: #ff6600; /*#1abc9c;*/
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/back.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#social {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
    padding:10px 0;
	color: #4a4a4a;
    transition: color 0.2s ease-out,
              color 0.2s ease-out;
}

#social i:hover {
	color: #ff6600; /*#1abc9c*/
    transition: color 0.2s ease-in,
              color 0.2s ease-in;
}
.socialicon {
    border:1px solid #333;
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p, #footerwrap a {
	color: #f2f2f2;
	margin-left: 10px;
    transition: color 0.2s ease-out,
              color 0.2s ease-out;
}
#footerwrap a:hover {
    color:#ff6600;
    text-decoration:none;
    transition: color 0.2s ease-out,
              color 0.2s ease-out;
}

#workwrap {
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {
	background: url(../img/about-cl.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}
